<div class="jumbotron">
  <div class='youtube-to-podcast-banner'>
    <i class="fa fa-youtube" aria-hidden="true"></i>
    &rarr;
    <i class="fa fa-podcast" aria-hidden="true"></i>
  </div>

  <h1><%= t :listen_youtube_channel %></h1>

  <%= t :slogan %>

  <p></p>

  <%= form_for @channel, url: channels_path, html: { class: 'form' } do |f| %>
    <%= f.text_field :url, type: :url, class: 'form-control input-lg', placeholder: t(:paste_url_here) %>
    <br />

    <%= f.submit t(:convert_to_podcast), class: 'btn btn-primary btn-lg' %>
  <% end %>
</div>
