<h1><%= @podcast.title %> Podcast
  <i class="fa fa-podcast" aria-hidden="true"></i>
</h1>

<table class='table'>
  <% if @podcast.source_type == 'playlist' %>
    <%= render partial: 'podcast_link', locals: { audio_feed_url: playlist_url(@podcast.origin_id, format: :atom), video_feed_url: playlist_url(@podcast.origin_id, type: :video, format: :atom) } %>
  <% else %>
    <%= render partial: 'podcast_link', locals: { audio_feed_url: channel_url(@podcast.origin_id, format: :atom), video_feed_url: channel_url(@podcast.origin_id, type: :video, format: :atom) } %>
  <% end %>
</table>

<br />
<br />

<table class='episodes table'>
  <tr>
    <th>Title</th>
    <th>Published At</th>
    <th><i class="fa fa-headphones"></i></th>
    <th><i class="fa fa-video-camera"></i></th>
  </tr>
  <% @videos.each do |episode| %>
    <tr class='episode'>
      <td><%= episode.title %></td>
      <td><%= episode.published_at %></td>

      <td class='episode__media'>
        <% if episode.has_audio? %>
          <%= link_to number_to_human_size(episode.audio_size), episode.audio_url %>
        <% else %>
          <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
        <% end %>
      </td>
      <td class='episode__media'>
        <% if episode.has_video? %>
          <%= link_to number_to_human_size(episode.video_size), episode.video_url %>
        <% else %>
          <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
