<h1><%= @channel.title %> Podcast</h1>

Atom feed:

<% if @podcast.source_type == 'playlist' %>
  <%= link_to playlist_url(@podcast.origin_id, format: :atom), playlist_url(@podcast.origin_id, format: :atom) %>
<% else %>
  <%= link_to channel_url(@podcast.origin_id, format: :atom), channel_url(@podcast.origin_id, format: :atom) %>
<% end %>

<br />
<br />

<div class='episodes'>
  <% @videos.each do |episode| %>
    <div class='episode'>
      <%= episode.title %>
      <span class='episode__link'>audio <%= link_to number_to_human_size(episode.audio_size), episode.audio_url %></span>

      <% if episode.has_video? %>
        |
        <span class='episode__link'>video <%= link_to number_to_human_size(episode.video_size), episode.video_url %></span>
      <% end %>
    </div>
  <% end %>
</div>
