<!DOCTYPE html>
<html>
  <head>
    <%= google_tag_manager_head %>

    <title><%= yield(:meta_title).presence || 'Youtube Fetcher: convert youtube channel to a mp3 podcast' %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= yield :meta_description %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= google_tag_manager_body %>
    <%= render partial: 'shared/google_analytics' %>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
        Youtube Fetcher

        <i class="fa fa-youtube" aria-hidden="true"></i>
        &rarr;
        <i class="fa fa-podcast" aria-hidden="true"></i>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item"><%= link_to 'Channels', channels_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Recent Episodes', videos_path, class: 'nav-link' %></li>
        </ul>
        <%= form_tag search_path, method: 'GET', class: 'form-inline my-2 my-lg-0' do %>
          <%= text_field_tag :q, nil, class: 'form-control mr-sm-2', placeholder: 'Search' %>
          <button type="submit" class="btn btn-outline-secondary my-2 my-sm-0">Submit</button>
        <% end %>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <%= yield %>
        </div>
        <div class="col-md-3 sidebar sidebar--right">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= link_to 'Leave Feedback', new_feedback_path %>
        </div>
      </div>
    </div>
  </body>
</html>
