<!DOCTYPE html>
<html>
  <head>

    <title>YoutubeFetcher</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= render partial: 'shared/google_analytics' %>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            Youtube Fetcher

            <i class="fa fa-youtube" aria-hidden="true"></i>
            &rarr;
            <i class="fa fa-podcast" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>

      <footer>
        <center>
          <% %w( podcasts jobs audo_count audio_size video_count video_size ).each do |key| %>
            <span class='badge' title="<%= key.humanize %>"><%= stats(key) %></span>
          <% end %>
        </center>
      </footer>
    </div>
  </body>
</html>
